# Ignore raw datasets
datasets/**/raw/

# Optional: ignore zip files if still present
*.zip

.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.db
*.log

*.env

# Jupyter Notebook checkpoints and outputs
notebooks/.ipynb_checkpoints/
*/.ipynb_checkpoints/