# Ignore raw datasets
datasets/bdd100k/raw/
datasets/bdd100k/preprocessed/
datasets/nuscenes/mini/
datasets/nuscenes/raw/
datasets/nuscenes/preprocessed/
datasets/cosmos/raw/
datasets/waymo/raw
datasets/carla/raw

# Optional: ignore zip files if still present
*.zip

.venv/
.venv_*/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.db
*.log

*.env

# Jupyter Notebook checkpoints and outputs
notebooks/.ipynb_checkpoints/
*/.ipynb_checkpoints/